.loginPage{
    display: flex;
    justify-content: space-evenly;
    padding: 45.5px 0px;
    background-color: #031219;
}

.loginDivs{
    width: 45%;
    height: 85vh;
}

.loginDivs img{
    width: 100%;
    height: 100%;
}